{% extends 'base.html' %}
%{% block Title %} Attendants {% endblock %}
%{% block content %}
    <div class="container">

        <h2 class="text-center mb-4"> Attendants List</h2>

        <div class="row">

            {% if  attendant %}
                {% for date in attendant %}
                    <div class="col-4 mb-4">
                        <div class="card" style="width: 18rem;">
                            <img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png"
                                 class="card-img-top" style="border-radius: 50%" alt="cargando foto...">
                            <div class="card-body">
                                <h5 class="card-title"> {{ date.name }} {{ date.last_name }}</h5>
                                <p class="card-text">Edad: {{ date.age }}</p>
                                <p class="card-text">Profesion : {{ date.profession }}</p>
                                <a href="/Edit_Attendant/{{ date.id }}" class="btn btn-primary">edit</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            {% endif %}
        </div>


{% endblock %}