{% extends 'base.html' %}
{% block Title %} Courses {% endblock %}
{% block content %}
    <div class="container">

        <h2 class="text-center mb-4"> Course List</h2>

        <div class="row">

            {% if course %}
                {% for date in course %}
                    <div class="col-4 mb-4">
                        <div class="card" style="width: 18rem;">

                            <div class="card-body">
                                <h5 class="card-title"> {{ date.name }} </h5>
                                <p class="card-text">Grado: {{ date.grade_id }}</p>

                                <a href="/Edit_Course/{{ date.course_id }}" class="btn btn-primary">edit</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            {% endif %}
        </div>



{% endblock %}