{% extends 'base.html' %}

{% block Title %}
editar curso
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card" style="width: 1000px; height: 100% ">
        <div class="card-body">
            <div class="container row justify-content-center">
                <form method="post" novalidate>
                    {% csrf_token %}


                    <legend class="text-center">registrar curso</legend>
                    {% for field in form.visible_fields %}
                    <div class=" mb-3">
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}

                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <a href="{% url 'inicio' %}" class="btn btn-info mt-lg-2">Cancel</a>
                </form>
            </div>

        </div>
    </div>

</div>

{% endblock %}