{% extends 'base.html' %}
{% block Title %}Insert Grades{% endblock %}

{% block content %}
    <div class=" py-5">
        <div class="card" style="width: 1000px; height: 100% ">
            <div class="card-body">
                <div class="container row justify-content-center">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <legend class="text-center">Insert register</legend>
                        {% for field in form.visible_fields %}
                            <div class=" mb-3">
                                <label for= {{ field.id_for_label }}>{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" href="{% url 'lisregister' %}" role="button">Back &raquo;</a>
                    </form>
                </div>

            </div>
        </div>

    </div>

{% endblock %}