{% extends 'base.html' %}

{% block Title %}
    ingresar nota
{% endblock %}

{% block content %}
    <div >
    <div class="container">
<div class="row justify-content-center">

    <div class="col-sm-6 ">
        <form method="post" novalidate class="md-float-material form-material">
            {% csrf_token %}
            <div class=" text-center py-5">
                <div class="auto-box card">
                    <div class="card-block" style="background: url('https://tailwindcss.com/_next/static/media/installation.9713bc44d9403301b053edfbc12e7b1c.jpg') no-repeat fixed;background-size: cover;color: black">

                        <legend class="text-center">ingresar nota</legend>
                        {% for field in form.visible_fields %}
                            <div class=" mb-3">

                            <div class="form-group form-primary">
                                {{ field }}
                                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <span class="form-bar"><i ></i></span>
                                <label class="float-label">{{ field.label }}</label>
                            </div>
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                    </div>
                                {% endfor %}

                            </div>
                        {% endfor %}
                    <div class="mb-3">
                         <button type="submit" class="btn btn-primary d-grid w-100">Submit</button>
                    </div>
                        <a href="{% url 'inicio' %}" class="btn btn-secondary d-grid w-100 ">Cancel</a>
                    </div>
                </div>
            </div>

        </form>


    </div>

    </div>

</div>

    </div>


{% endblock %}