{% extends 'base.html' %}
{% block Title %}
    Register
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Curce</th>
            <th scope="col">Estudent</th>
            <th scope="col">periodo</th>
            <th scope="col">Date</th>
            <th scope="col">Nota</th>
        </tr>
        </thead>
        {% if notes %}
            {% for note in object_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ note.course_id }}</th>
                    <td>{{ note.student_id }}</td>
                    <td>{{ note.period }}</td>
                    <td>{{ note.year }}</td>
                    <td>{{ note.note }}</td>
                    <td> <a class="btn btn-success" href="{% url 'edit_note' note.id %}" role="button">Update</a>
{#                        <a class="btn btn-danger" href="{% url 'insert_grade' %}" role="button">Delete</a></td>#}

                </tr>
                </tbody>
            {% endfor %}

        {% else %}
            no fount
        {% endif %}
    </table>
    <a class="btn btn-primary" href="{% url 'insert_note' %}" role="button">Insert Register &raquo;</a>
{% endblock %}
