{% extends 'base.html' %}
{% block Title %}
    Grades
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Grade</th>
        </tr>
        </thead>
        {% if grades %}
            {% for grade in object_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ grade.grade_id }}</th>
                    <td>{{ grade.name_grade }}</td>
                    <td> <a class="btn btn-success" href="{% url 'edit_grade' grade.grade_id %}" role="button">Update</a>
                        <a class="btn btn-danger" href="{% url 'insert_grade' %}" role="button">Delete</a></td>


                </tr>
                </tbody>
            {% endfor %}

        {% else %}
            no fount
        {% endif %}
    </table>
    <a class="btn btn-primary" href="{% url 'insert_grade' %}" role="button">Insert Grade &raquo;</a>
{% endblock %}
