{% extends 'base.html' %}
{% block Title %}
    Register
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Grade</th>
            <th scope="col">Estudent</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        {% if register %}
            {% for regi in object_list %}
                <tbody>
                <tr>
                    <th scope="row">{{ regi.id }}</th>
                    <td>{{ regi.grade_id }}</td>
                    <td>{{ regi.student_id }}</td>
                    <td>{{ regi.date }}</td>
                    <td> <a class="btn btn-success" href="{% url 'edit_register' regi.id %}" role="button">Update</a>
{#                        <a class="btn btn-danger" href="{% url 'insert_grade' %}" role="button">Delete</a></td>#}


                </tr>
                </tbody>
            {% endfor %}

        {% else %}
            no fount
        {% endif %}
    </table>
    <a class="btn btn-primary" href="{% url 'insert_register' %}" role="button">Insert Register &raquo;</a>
{% endblock %}
