{% extends 'base.html' %}
%{% block Title %} Studets {% endblock %}
%{% block content %}
<div class="container">

    <h2 class="text-center mb-2"> Studens List</h2>

    <div class="row">

        {% if students %}
        {% for date in students %}
        <div class="col-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png"
                    class="card-img-top" style="border-radius: 50%; height: 100%" alt="cargando foto...">
                <div class="card-body">
                    <h5 class="card-title"> {{ date.name }} {{ date.last_name }}</h5>
                    <p class="card-text">Edad: {{ date.age }}</p>
                    <p class="card-text">Acudiente : {{ date.attendants_name }}</p>
                    <a href="/Edit_Student/{{ date.id }}" class="btn btn-primary">edit</a>
                </div>
            </div>

        </div>

        {% endfor %}
        {% endif %}
    </div>



    {% endblock %}