{% extends 'base.html' %}
%{% block Title %} Teachers {% endblock %}
%{% block content %}
    <div class="container">

        <h2 class="text-center mb-4"> Teacher List</h2>

        <div class="row">

            {% if  teacher %}
                {% for date in teacher %}
                    <div class="col-4 mb-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png"
                                class="card-img-top" style="border-radius: 50%; height: 100%" alt="cargando foto...">
                            <div class="card-body">
                                <h5 class="card-title"> {{ date.name }} </h5>
                                <p class="card-text">Correo: {{ date.email }}</p>
                                
                                <a href="/Edit_Teacher/{{ date.teacher_id }}" class="btn btn-primary">edit</a>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            {% endif %}
        </div>



{% endblock %}
